doctype html
head
    title Create Question
div
    |Question: 
    input(id='ques' type='text' name='FirstName' value='Salary: ')
    br
    input#subby(type='submit' value='Submit')
    input#bubby(type='submit' value='Get Questions')

div
    textarea(id='displayspot' rows='4' cols='50')
        | nothing yet

script(type='text/javascript').
    var testText = "Q";
    document.getElementById("subby").addEventListener("click", function() {
    postQuestion(document.getElementById('ques').value);
    }, false);
    document.getElementById("bubby").addEventListener("click", function() {
    getQuestion();
    }, false);

    function postQuestion(gotText){
        console.log(gotText);
         
        event.preventDefault();

        let tittle = gotText

        fetch('http://10.10.9.145:3000/api/questions/add', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({Ques_text:tittle})
        }).then((res) => res.json())
        .then((data) =>  console.log(data))
        .catch((err)=>console.log(err))
        
    }
    function getQuestion(){
        fetch('http://10.10.9.145:3000/api/questions')
        .then((res_1) => { return res_1.json() })
        .then((data_1) => {
            let result = ``;
            data_1.forEach((question) => {
                const { QuesID, Ques_text} = question
                result +=
                `QuesID: ${QuesID} 
                        Question Text : ${Ques_text} \n ` ;
                
                document.getElementById('displayspot').innerHTML = result;
            });
        })
    
    }

