doctype html
head
    title Create Question
div
    |Question: 
    input(id='ques' type='text' name='FirstName' value='Hometown')
    br
    input#subby(type='submit' value='Submit')

div
    textarea(id='displayspot' rows='4' cols='50')
        | nothing yet

script(type='text/javascript').
    var testText = "Q";
    document.getElementById("subby").addEventListener("click", function() {
    varSetter(document.getElementById('ques').value);
    }, false);
    function varSetter(gotText){
        console.log(gotText);
         
        event.preventDefault();

        let tittle = gotText

        fetch('http://localhost:3000/api/questions/add', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({Ques_text:tittle})
        }).then((res) => res.json())
        .then((data) =>  console.log(data))
        .catch((err)=>console.log(err))
        
    }

